---

---
<header>
    <div class="container intro">
      <div class="row row-header">
        <div class="col">
          <h1 class="gsapH1">Collab</h1>
          <ul>
            <li class="gsapH1Li">Meet new people.</li>
            <li class="gsapH1Lii">Collab on amazing projects.</li>
            <li class="gsapH1Li">Connect with someone.</li>
          </ul>
          <div class="welcomeBtn">
            <div class="row row-btn">
              <div class="col">
                <button id="andBtn" type="button">
                  <img src="/images/android.svg" alt="android logo"> Download
                </button>
              </div>
              <div class="col">
                <button id="iosBtn" type="button">
                  <img src="/images/apple.svg" alt="android logo"> Download
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-img">
          <img src="/images/welcome-img.jpg" alt="welcome-img">
        </div>
      </div>
    </div>
  </header>
  
  <script>
    import { gsap } from "gsap";
   import { ScrollTrigger } from "gsap/ScrollTrigger";

   gsap.registerPlugin(ScrollTrigger);

    //h1: Collab
    gsap.from('.gsapH1', {
        duration: 2,
        x: 300,
        ease: 'bounce'
    });
    gsap.to('.gsapH1', {
        duration: 2,
        rotation: 360
    });

    //ul > li >Meet new people, Collab, Connect gsapH1Li
    gsap.from('.gsapH1Li', {
        duration: 2,
        x: 300,
        backgroundColor: '#E68369'
    });

    gsap.to('.gsapH1Li', {
        duration: 2,
        x: 0,
    });

    //gsapH1Lii
    gsap.from('.gsapH1Lii', {
        duration: 2,
        x: -300,
        backgroundColor: '#E68369'
    });

    gsap.to('.gsapH1Lii', {
        duration: 2,
        x: 0,
    });
 </script>